# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# OS Files
.DS_Store
Thumbs.db